<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
  		<div class="navbar-header">
  			<%= link_to "Summer Reading Program", {controller: "program", action: "index"}, class: "navbar-toggle collapsed btn btn-inverse" %>
  		</div>
  		<div class="navbar-collapse collapse nav-bar-left">
  			<ul id="application-head" class="nav navbar-nav">
    			<li><%= link_to "Home", index_program_path %></li>
    			<li><%= link_to "About", '/program/about' %></li>
   				<li><%= link_to "log out", index_program_path %></li>
  			</ul>
	</div>
</nav>

<div class="container">
	
<div>
	<div clas="left"><h1>Add a new staff</h1></div>

</div> 
<div class="row">
  
<div class="col-md-6">

<%= form_for @staff do |form| %>
<div class="bootstrap-table">
    
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			<table class="table table-hover">
				<tbody>
					<tr>
						<div class="input-group">

		<td><%= form.label :user_name %></td>
		<td><%= form.text_field :user_name, :class=>"form-control", :placeholder=>"User Name" %></td>
						</div>
					</tr>
					<tr>
						<div class="input-group">

		<td><%= form.label :password %></td>
		<td><%= form.password_field :password, :class=>"form-control", :placeholder=>"Insert Password" %></td>
						</div>
					</tr>
					<tr>
						<div class="input-group">

		<td><%= form.label :password_confirmation %></td>
		<td><%= form.password_field :password_confirmation, :class=>"form-control", :placeholder=>"Confirm Password" %></td>
						</div>
					</tr>
					<tr>
						<div class="input-group">

		<td><%= form.label :first_name %></td>
		<td><%= form.text_field :first_name, :class=>"form-control", :placeholder=>"First Name" %></td>
						</div>
					</tr>
					<tr>
						<div class="input-group">

		<td><%= form.label :last_name %></td>
		<td><%= form.text_field :last_name, :class=>"form-control", :placeholder=>"Last Name" %></td>
						</div>
					</tr>
					<tr>
						<div class="input-group">

		<td><%= form.label :location %></td>
		<td><%= select(:staff, :location, [['College Station', 'College Station'], ['Bryan', 'Bryan']]) %></td>
						</div>
					</tr>
					<tr>
						<div class="input-group">

		<td><%= form.submit 'Create' ,:class=>"btn btn-primary"%>
		<%= link_to 'Back', staffs_path, :class=>"btn btn-default" %></td>
		<td> </td>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>

<% end %>
</div>
</div>
</div>

