<div class="container container-margin-horizon">
		<h1>
    	Bryan College Station Public Library<br/>
    	Summer Reading Program
		</h1>
</div>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
	
	<div class="container-margin-horizon">
  		<div class="navbar-header">
  			<%= link_to "Summer Reading Program", {controller: "program", action: "index"}, class: "navbar-toggle collapsed btn btn-inverse" %>
  		</div>
  		<div class="navbar-collapse collapse nav-bar-left">
  			<ul id="application-head" class="nav navbar-nav">
    			<li><%= link_to "Home", index_program_path %></li>
    			<li><%= link_to "New Reader", new_reader_path %></li>
				<li><%= link_to "Programs", '/program/report' %></li>
    			<li><%= link_to "About", '/program/about' %></li>
   				<li><%= link_to "log out", login_path %></li>
   				
  			</ul>
		</div>
</nav>

<div class="container-fluid container-margin-horizon">
<%= form_for @reader do |form| %>

<div class="bootstrap-table">
	<h2>Personal Information</h2>
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><div class="th-inner">First Name</div></th>
						<th><div class="th-inner">Last Name</div></th>
						<th><div class="th-inner">DOB</div></th>
						<th><div class="th-inner">Program</div></th>
						<th><div class="th-inner">Location</div></th>
						<th><div class="th-inner">Register Date</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>

		<td><%= @reader.first_name%></td>
		<td><%= @reader.last_name%></td>
		<td><%= @reader.date_of_birth%></td>
		<td><%= @reader.program%></td>
		<td><%= @reader.reg_location%></td>
		<td><%= @reader.reg_date%></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<div class="bootstrap-table">
	<h2>Program Status</h2>
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th><div class="th-inner">Halfway Date</div></th>
						<th><div class="th-inner">Bonus</div></th>
						<th><div class="th-inner">Staff Initial</div></th>
						<th><div class="th-inner">Finish Date</div></th>
						<th><div class="th-inner">Bonus</div></th>
						<th><div class="th-inner">Staff Initial</div></th>
						<th><div class="th-inner col-md-4">Note</div></th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<div class="input-group">

		<td><%= form.date_field :mid_date , :class=>"form-control", :placeholder=>"Mid Date"%></td>
		<td><%= form.check_box :halfway_check, :class=>"form-control"%></td>
		<td><%= form.text_field :mid_initial , :class=>"form-control", :placeholder=>"Initial"%></td>
		<td><%= form.date_field :end_date , :class=>"form-control", :placeholder=>"End Date"%></td>
		<td><%= form.check_box :finish_check, :class=>"form-control"%></td>
		<td><%= form.text_field :end_initial, :class=>"form-control", :placeholder=>"Initial" %></td>
		<td><%= form.text_area :note, :class=>"form-control col-md-4", :placeholder=>"Note" %></td>
						</div>
					</tr>
				</tbody>
			</table>
		
		<%= form.submit 'Update' ,:class=>"btn btn-primary"%>
		<%= link_to 'Cancel', readers_path, :class=>"btn btn-default" %>
			<% end %>
		</div>

	</div>
</div>

</div>