<h1>Update Information</h1>

<%= form_for @reader do |form| %>
	<h2>Personal Information</h2>
	<p>
		<%= form.label :first_name %>
		<%= form.text_field :first_name %>
		<%= form.label :first_Name %>
		<%= @reader.first_name %>
		<%= form.label :first_Name %>
		<%= @reader.first_name %>
	</p>
	<p>
		<%= form.label :last_name %>
		<%= @reader.last_name %>
	</p>
	<p>
		<%= form.label :date_of_birth %>
		<%= @reader.date_of_birth %>
	</p>
	<p>
		<%= form.label :program %>
		<%= @reader.program %>
		
	</p>
	<p>
		<%= form.label :location %>
		<%= @reader.reg_location %>
	</p>
	<p>
		<%= form.label :register_date %>
		<%= @reader.reg_date %>
	</p>
	<hr />
	<h2>Halfway Status</h2>
	<p>
		<%= form.label :date %>
		<%= form.date_field :mid_date %>
	</p>
	<p>
		<%= form.label :location %>
		<%= form.text_field :mid_location %>
	</p>
	<p>
		<%= form.label :initial %>
		<%= form.text_field :mid_initial %>
	</p>	
	<hr />
	<h2>Final Status</h2>
	<p>
		<%= form.label :date %>
		<%= form.date_field :end_date %>
	</p>
	<p>
		<%= form.label :location %>
		<%= form.text_field :end_location %>
	</p>
	<p>
		<%= form.label :initial %>
		<%= form.text_field :end_initial %>
	</p>
	<p>
		<%= form.submit 'Update' %>
		<%= link_to 'Cancel', readers_path %>
	</p>
<% end %>
