<%= form_for @reader do |form| %>

<div class="bootstrap-table">
	<h2>Personal Information</h2>
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><div class="th-inner">First Name</div></th>
						<th><div class="th-inner">Last Name</div></th>
						<th><div class="th-inner">DOB</div></th>
						<th><div class="th-inner">Program</div></th>
						<th><div class="th-inner">Location</div></th>
						<th><div class="th-inner">Register Date</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>

		<td><%= @reader.first_name%></td>
		<td><%= @reader.last_name%></td>
		<td><%= @reader.date_of_birth%></td>
		<td><%= @reader.program%></td>
		<td><%= @reader.reg_location%></td>
		<td><%= @reader.reg_date%></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<div class="bootstrap-table">
	<h2>Program Status</h2>
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th><div class="th-inner">Halfway Date</div></th>
						<th><div class="th-inner">Staff Initial</div></th>
						<th><div class="th-inner">Finish Date</div></th>
						<th><div class="th-inner">Staff Initial</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>

		<td><%= form.date_field :mid_date %></td>
		<td><%= form.text_field :mid_initial %></td>
		<td><%= form.date_field :end_date %></td>
		<td><%= form.text_field :end_initial %></td>
					</tr>
				</tbody>
			</table>
			<p>
		<%= form.submit 'Update' %>
		<%= link_to 'Cancel', readers_path %>
	</p>
			<% end %>
		</div>

	</div>
</div>
