<div class="container head">
  <h1>Summer Reading Program</h1>
  <ul id="application-head">
    <li><%= link_to "Home", index_program_path %></li>
    
    <li><%= link_to "About", '/program/about' %></li>
    <li><%= link_to "log out", login_path %></li>
  </ul>
</div>


<li><%= link_to "New Reader", new_reader_path %></li>
<li><%= link_to "Search", '#' %></li>
<li><%= link_to "Programs", '/program/report' %></li>


<h1>Reader Lists</h1>

<% @readers.each do |reader| %>
	<p>Name: <%= link_to reader.first_name + ' ' + reader.last_name, reader %></p>
	<p>
		<%= link_to "Edit", edit_reader_path(reader) %>
		<%= link_to "Delete", reader, method: :delete, data: {confirm: 'Are you sure?'} %>
	</p>
	<hr />
<% end %>
