<div class="container head">
  <h1>Summer Reading Program</h1>
  <ul id="application-head">
    <li><%= link_to "Home", index_program_path %></li>
    
    <li><%= link_to "About", '/program/about' %></li>
    <li><%= link_to "log out", login_path %></li>
  </ul>
</div>


<li><%= link_to "New Reader", new_reader_path %></li>
<li><%= link_to "Search", '#' %></li>
<li><%= link_to "Programs", '/program/report' %></li>


<h1>Reader Lists</h1>

<%= form_tag readers_path, :method => 'get', id: 'search-form' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Readers" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @readers.each do |reader| %>
	<p>Name: <%= link_to reader.first_name + ' ' + reader.last_name, reader %></p>
	<p>
		<%= link_to "Edit", edit_reader_path(reader) %>
		<%= link_to "Delete", reader, method: :delete, data: {confirm: 'Are you sure?'} %>
	</p>
	<hr />
<% end %>
<<<<<<< HEAD
=======

<p>
	<%= link_to "Add a New Reader", new_reader_path %>
	<%= link_to "Report", '/program/report' %>
	<%= link_to "log out", login_path %>
</p>
>>>>>>> ba486c9beda0b09002b059a142f117e7465e6df0
