<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
  		<div class="navbar-header">
  			<%= link_to "Summer Reading Program", {controller: "program", action: "index"}, class: "navbar-toggle collapsed btn btn-inverse" %>
  		</div>
  		<div class="navbar-collapse collapse nav-bar-left">
  			<ul id="application-head" class="nav navbar-nav">
    			<li><%= link_to "Home", index_program_path %></li>
    			<li><%= link_to "About", '/program/about' %></li>
   				<li><%= link_to "log out", login_path %></li>
  			</ul>

      	<%= form_tag readers_path,:class=>'navbar-form navbar-right', :method => 'get', id: 'search-form' do %>
  			<p>
    		<%= text_field_tag :search, params[:search], placeholder: "Search Reader", :class=>'form-control'%>
    		<%= submit_tag "Search", :name => nil, :class=>'btn btn-default' %>
  			</p>
		<% end %>
	</div>
</nav>

<li><%= link_to "New Reader", new_reader_path %></li>
<li><%= link_to "Search", '#' %></li>
<li><%= link_to "Programs", '/program/report' %></li>


<h1>Reader Lists</h1>



<% @readers.each do |reader| %>
	<p>Name: <%= link_to reader.first_name + ' ' + reader.last_name, reader %></p>
	<p>
		<%= link_to "Edit", edit_reader_path(reader) %>
		<%= link_to "Delete", reader, method: :delete, data: {confirm: 'Are you sure?'} %>
	</p>
	<hr />
<% end %>

<p>
	<%= link_to "Add a New Reader", new_reader_path %>
	<%= link_to "Report", '/program/report' %>
	<%= link_to "log out", login_path %>
</p>
