<h1>Add a New Reader</h1>

<%= form_for @reader do |form| %>
	<p>
		<%= form.label :first_Name %>
		<%= form.text_field :first_name %>
	</p>
	<p>
		<%= form.label :last_name %>
		<%= @reader.last_name %>
	</p>
	<p>
		<%= form.label :date_of_birth %>
		<%= @date_of_birth %>
	</p>
	<p>
		<%= form.label :program %>
		<select name="program" id="program">
  			<option value="adult">Adult</option>
  			<option value="teen">Teen</option>
  			<option value="kid">Kids</option>
		</select>
	</p>
	<p>
		<%= form.label :location %>
		<select name="location" id="location">
  			<option value="collegestation" selected>College Station</option>
  			<option value="bryan">Bryan</option>
		</select>
	</p>
	<p>
		<%= form.label :register_date %>
		<%= form.date_field :reg_date %>
	</p>
	<p>
		<%= form.submit "Create" %>
		<%= link_to 'Back', readers_path %>
	</p>
<% end %>
