<div class="container container-margin-horizon">
		<h1>
    	Bryan College Station Public Library<br/>
    	Summer Reading Program
		</h1>
</div>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
	
	<div class="container-margin-horizon">
  		<div class="navbar-header">
  			<%= link_to "Summer Reading Program", {controller: "program", action: "index"}, class: "navbar-toggle collapsed btn btn-inverse" %>
  		</div>
  		<div class="navbar-collapse collapse nav-bar-left">
  			<ul id="application-head" class="nav navbar-nav">
    			<li><%= link_to "Home", readers_path %></li>
    			<li><%= link_to "New Reader", new_reader_path %></li>
				<li><%= link_to "Programs", '/program/report' %></li>
    			<li><%= link_to "About", '/program/about' %></li>
   				<li><%= link_to "log out", login_path %></li>
   				
  			</ul>
		</div>
</nav>

<div class="container-fluid container-margin-horizon">
    
<h2>
<div class="form-group">
            Reader Information
    		<%= link_to 'Update', edit_reader_path,:class=>"btn btn-primary" %>
			<%= link_to 'Back', readers_path,:class=>"btn btn-primary" %>
</div>
</h2>

<div class="bootstrap-table">
    
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			<table class="table table-hover">
				<thead>
				    <tr>
				        <th>Personal Information</th>
				    </tr>
				    <tr>
						<th><div class="th-inner">First Name</div></th>
						<th><div class="th-inner">Last Name</div></th>
						<th><div class="th-inner">Date of Birth</div></th>
						<th><div class="th-inner">Program</div></th>
						<th><div class="th-inner">Registration Location</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>

		<td><%= @reader.first_name %></td>
		<td><%= @reader.last_name %></td>
		<td><%= @reader.date_of_birth %></td>
		<td><%= @reader.program %></td>
		<td><%= @reader.reg_location%></td>
					</tr>
				</tbody>
				<thead>
				    <tr>
				        <th>Halfway Status</th>
				    </tr>
				    <tr>
					
						<th><div class="th-inner">Date</div></th>
						<th><div class="th-inner">Location</div></th>
						<th><div class="th-inner">Initial</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>

		<td><%= @reader.mid_date %></td>
		<td><%= @reader.mid_location %></td>
		<td><%= @reader.mid_initial %></td>
					</tr>
				</tbody>
				
				<thead>
				    <tr>
				        <th>Final Status</th>
				    </tr>
				    <tr>
					
						<th><div class="th-inner">Date</div></th>
						<th><div class="th-inner">Location</div></th>
						<th><div class="th-inner">Initial</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>

		<td><%= @reader.end_date %></td>
		<td><%= @reader.end_location %></td>
		<td><%= @reader.end_initial %></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<!--<p>First Name: <%= @reader.first_name %></p>-->
<!--<p>Last Name: <%= @reader.last_name %></p>-->
<!--<p>Date of Birth: <%= @reader.date_of_birth %></p>-->
<!--<p>Program: <%= @reader.program %></p>-->
<!--<p>Registration Location: <%= @reader.reg_location %></p>-->



<!--<hr />-->
<!--<h2>Halfway Status</h2>-->
<!--<p>Date: <%= @reader.mid_date %></p>-->
<!--<p>Location: <%= @reader.mid_location %></p>-->
<!--<p>Initial: <%= @reader.mid_initial %></p>-->

<!--<hr />-->
<!--<h2>Final Status</h2>-->
<!--<p>Date: <%= @reader.end_date %></p>-->
<!--<p>Location: <%= @reader.end_location %></p>-->
<!--<p>Initial: <%= @reader.end_initial %></p>-->

<!--<p>-->
<!--    <%= link_to 'Update', edit_reader_path%>-->
<!--	<%= link_to 'Back', readers_path %>-->
<!--</p>-->
</div>