<<<<<<< HEAD
<h1>Summer Reading 2015</h1>
<p>The Bryan+College Station Public Library System has summer programs for all ages.
Our 2014 summer programs have ended. Check back next spring for information about 2015. </p>
<<<<<<< HEAD

<%= link_to "Staff Login", 'staff_pages#home'%>
=======
<%= link_to "Staff Page", home_path %>
<%= link_to "Manger Page",  staffs_path %>
>>>>>>> lgg
=======
<%= link_to "Staff login", login_path %>
<%= link_to "Manger login",  m_login_path %>
>>>>>>> lgg
=======
<div class="page-header container">
    
<h1>
    Bryan College Station Public Library<br/>
    Summer Reading Program
</h1>

</div>
<div class="container">

    <%= link_to "Staff Log in", login_path, class: "btn btn-lg btn-primary" %>

    <%= link_to "Manager Log in", login_path, class: "btn btn-lg btn-primary" %>

</div>

>>>>>>> 315561cec0d1c4600f5bb3eb339d2bce50784c53
