<h1>Staff Information</h1>

<h2>Personal Information</h2>

<p>First Name: <%= @staff.first_name %></p>
<p>Last Name: <%= @staff.last_name %></p>
<p>User Name: <%= @staff.user_name %></p>
<p>Location: <%= @staff.location %></p>

<p>
	<%= link_to 'Back', staffs_path %>
</p>