<div class="container container-margin-horizon">
<h1>
Bryan College Station Public Library<br/>
Summer Reading Program
</h1>
</div>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	
	<div class="container-margin-horizon">
  		<div class="navbar-header">
  			<%= link_to "Summer Reading Program", {controller: "program", action: "index"}, class: "navbar-toggle collapsed btn btn-inverse" %>
  		</div>
  		<div class="navbar-collapse collapse nav-bar-left">
  			<ul id="application-head" class="nav navbar-nav">
    			<li><%= link_to "Home", index_program_path %></li>
    			<li class="active"><%= link_to "New Reader", new_reader_path %></li>
				<li><%= link_to "Programs", '/program/report' %></li>
    			<li><%= link_to "About", '/program/about' %></li>
   				<li><%= link_to "log out", login_path %></li>
   				
  			</ul>
		</div>
</nav>
<%= form_for @reader do |form| %>
<div class="row container-margin-horizon center">

<div class="bootstrap-table">
    
	<div class="fixed-table-container">
		<div class="fixed-table-header">
			<table class="table table-hover">
				<thead>
				    <tr>
				        <th>Add a new reader</th>
				    </tr>
				    <tr>
				    	
						<th><div class="th-inner">First Name</div></th>
						<th><div class="th-inner">Last Name</div></th>
						<th><div class="th-inner">Date of Birth</div></th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<div class="input-group">

		<td><%= form.text_field :first_name, :class=>"form-control", :placeholder=>"First Name" %></td>
		<td><%= form.text_field :last_name, :class=>"form-control", :placeholder=>"Last Name" %></td>
		<td><%= form.date_field :date_of_birth ,:class=>"form-control", :placeholder=>"Date of birth" %></td>
						</div>
					</tr>
				</tbody>
				<thead>
				    <tr>
				    	
						<th><div class="th-inner">Program&Registration Location</div></th>
						<th><div class="th-inner">Registration time</div></th>
						<th><div class="th-inner"> </div></th>
						
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<div class="input-group">

		<td><%= select(:reader, :program, [['Adult', 'Adult'], ['Teen', 'Teen'],['Kids','Kid']]) %>
			<%= select(:reader, :reg_location, [['College Station', 'College Station'], ['Bryan', 'Bryan']]) %></td>
		<td><%= form.date_field :reg_date ,:class=>"form-control", :placeholder=>"Register Date"%></td>
		<td><%= form.submit "Create", :class=>"btn btn-primary"%> <%= link_to 'Back', readers_path, :class=>"btn btn-default"%></td>
		
						</div>
					</tr>
				</tbody>
				
				
				
</div>
</div>
</div>
<% end %>
	
