<div class="page-header container-margin-horizon">
    
<h1>
    Bryan College Station Public Library<br/>
    Summer Reading Program
</h1>

</div>

<div class="row container-margin-horizon center">
  <h3>Enter your Username and Password</h3>
  <div class="col-md-4 col-md-offset-4 signin-border">
    <%= form_for(:login, url: login_path, class:"form-signin") do |f| %>

      <h2 class="form-signin-heading center">Staff Sign in</h2>
      <%= f.label :UserName,:class=>"sr-only"%>
      <%= f.text_field :user_name, class: 'form-control',:placeholder=>"UserName" %>

      <%= f.label :password ,:class=>"sr-only"%>
      <%= f.password_field :password, class: 'form-control',:placeholder=>"Password"  %>

      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  </div>
</div>
</div>
