<!DOCTYPE html>
<html>

<head>
  <title>Library</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<div class="content">
<% flash.each do |type, message| %>
  <div class="alert alert-<%= bootstrap_class_for(type) %> fade" role="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
    <%= type%>
    <%= bootstrap_class_for(type) %>
  </div>
<% end %>

<%= yield %>
</div>
<footer class="footer">
    <div class="footer-section">
      <a href="http://www.bcslibrary.org/?page_id=58">Clara B. Mounce Public Library</a>
      <address>
      201 E. 26th St.
      Bryan, TX 77803
    (979) 209-5600
      </address>
    </div>
    <div class="footer-section">
      <a href="http://www.bcslibrary.org/?page_id=60">Larry J. Ringer Library</a>
      <address>
        1818 Harvey Mitchell Pkwy. S.
        College Station, TX 77845
        (979) 764-3416
      </address>
    </div>
</footer>

</div>
</body>

</html>
